<li class="nav-item active dropdown">
    <a href="#" class="nav-link dropdown-toggle" 
                id="dropdownMenuButton" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false">
      <%= icon('fas', 'envelope')  %> Friend Requests
    </a>
    <div class="dropdown-menu-friend-request dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% if current_user.received_friend_requests.blank? %>
        <div class="dropdown-item">
          <h6 class="center"> You currently have no requests </h5>
        </div>
      <% else %>
        <% current_user.received_friend_requests.limit(10).each do |rq| %>
          <div class="dropdown-item-friend-request dropdown-item">
            <div class="sender-name">
              <%= link_to rq.sender.shorten_name(12), user_path(rq.sender) %>
            </div>
            <div class="request-dropdown-button-wrapper">
              <div class="request-dropdown-ignore dropdown-btn">
                  <%= button_to "Ignore", 
                      friend_request_path(rq),
                      :params => { :id => rq.id },
                      method: :delete,
                      class: 'btn btn-light btn-sm ignore' %>
                </div>
              <div class="request-dropdown-accept dropdown-btn">
                <%= button_to "Accept",
                    friend_request_path(rq), 
                    :params => { :id => rq.id },
                    method: :put, 
                    class: 'btn btn-primary btn-sm accept' %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="dropdown-divider-special dropdown-divider"></div>
      <div class="showall">
        <%= link_to 'Show All', friend_requests_path, class: "showall-text" %>
      </div>
    </div>
</li>