<li class="nav-item active dropdown">
    <a href="#" class="nav-link dropdown-toggle" 
                id="dropdownMenuButton" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="true">
      <%= icon('fas', 'envelope')  %> Friend Requests
    </a>
    <div class="dropdown-menu-friend-request  dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% if current_user.friend_requests_received.blank? %>
        <div class="dropdown-item">
          <h6 class="center"> You currently have no requests </h5>
        </div>
      <% else %>
        <% current_user.friend_requests_received.limit(10).each do |sender| %>
          <div class="dropdown-item-friend-request dropdown-item">
            <div class="sender-name">
              <%= link_to sender.name , user_path(sender) %>
            </div>
            <div class="request-dropdown-button-wrapper">
              <div class="request-dropdown-ignore dropdown-btn">
                 <% if current_user.friend_requests_received_relationship.find_by(sender_id: sender.id).present? && current_user.friends_relationship.find_by(user_id: sender.id).blank? %>
                    <div class="show-image">
                      <%= image_tag(url_for(sender.image.variant(resize: "50x50"))) if sender.image.attached?%>
                    </div>
                    <div class="accept-ignore">
                    <%= button_to "Accept",
                                          friendships_path, 
                                          :params => { :user_id => sender.id },
                                          method: :post, 
                                          class: 'btn btn-primary btn-sm accept' %>
                    <%= form_for( current_user.friend_requests_received_relationship.find_by(sender_id: sender.id), method: :delete ) do |f| %>
                        <%= f.hidden_field :id, value: sender.id %>
                        <%= f.submit "Ignore", class: 'btn btn-primary ignore-button' %>
                  <% end %>
                  </div>
                <% end %>
               </div>                
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="dropdown-divider-special dropdown-divider"></div>
      <div class="showall">
        <%= link_to 'Show All', requests_path, class: "showall-text" %>
      </div>
    </div>
</li>
